
body
{
/*	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif !important;*/
	font-size: 15px !important;

	/*overflow-x:hidden;*/
}

td
{  
	text-align:center;
  /*text-transform: capitalize;*/
    /*border: 2px solid #fff!important;
    border-radius: 5px !important;
    padding: 5px !important;*/
    /*background-color:#686868  ;*/
    /*font-weight:normal;
    color:#fff;*/
}

table.DisableTable{
      /*margin-top:10%;*/
    }
    table.DisableTable, th , td  {
      /*border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      cursor: pointer;*/
    }
    table.DisableTable tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table.DisableTable tr:nth-child(even) {
      background-color: #ffffff;
    }
    table.meetingTable tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table.meetingTable tr:nth-child(even) {
      background-color: #ffffff;
    }
    table.updateTable tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table.updateTable tr:nth-child(even) {
      background-color: #ffffff;
    }
    table#momTable tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table#momTable tr:nth-child(even) {
      background-color: #ffffff;
    }

    table.meetingTable tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table.meetingTable tr:nth-child(even) {
      background-color: #ffffff;
    }
    
        
.quickView{
  font-size:18px;font-weight:normal;color:#fff;
  transition: 0.1s;
}
.quickView:hover{
  font-size:22px;
  color:#fff;
}
table.meetingTable
{
	margin-top:2%;
	font-size:15px !important;
	table-layout:fixed;
	
}
table.meetingTable td
{
	/*border: 1px solid #a3a3a3!important;

	padding: 5px !important;
	font-weight:normal;
	color:#fff;
	overflow-y:auto !important;
	color:#000;*/

  border: 1px solid #D4CDCD!important;
        /*border-radius: 5px !important;*/
        padding: 5px !important;
        /*background-color:#F0F5F9 ;*/
        font-weight:normal;
        color:#000;
}

table.updateTable
    {
      margin-top:2%;
      font-size:18px;
    }
    table.updateTable td
    {
      border: 1px solid #A3A3A3!important;
        /*border-radius: 5px !important;*/
        padding: 5px !important;
        /*background-color:#F0F5F9  ;*/
        font-weight:normal;
        color:#000;
        text-align: center;
    }
    table.updateTable td input[type="text"]
    {

      color:#000 !important;
    }
    table.updateTable select
    {

      color:#000 !important;
    }
    table.updateTable input[type="textarea"]
    {

      color:#000 !important;
    }

table.staticUpdateTable
    {
      margin-top:2%;
      font-size:16px;
    }
    table.staticUpdateTable td
    {
      border: 1px solid #A3A3A3!important;
        border-radius: 5px !important;
        padding: 5px !important;
        /*background-color:#F0F5F9  ;*/
        font-weight:normal;
        color:#000;
        text-align: center;
    }
    table.staticUpdateTable td input[type="text"]
    {

      color:#000 !important;
    }
    table.staticUpdateTable select
    {

      color:#000 !important;
    }
    table.staticUpdateTable input[type="textarea"]
    {

      color:#000 !important;
    }
table#momTable
{
	margin-top:2%;
	font-size:15px !important;
}
table#momTable td{
	border: 1px solid #D4CDCD!important;
    border-radius: 0px !important;
    padding: 5px !important;
    /*background-color:#F0F5F9  ;
*/    font-weight:normal;
    color:#000;
    text-align: center;
}
td a
{  
    /*color:#000;*/
}
td input[type="button"]
{
	/*color:#000 !important;*/
  color: #000;
  text-transform: uppercase;
}
tr
{  
    /*border: 2px solid #A3A8C1 !important;
    border-radius: 5px !important;*/
}

table#momTable td input[type="button"]
{
	color:#000 !important;
}
table#momTable td input[type="text"]
{
	color:#000 !important;
	width:88%;
}
table#momTable input[type="textarea"] 
{
	/*width: 258px !important;
    margin-top: 2px;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;*/
}
table#momTable tr
{  
    border: 1px solid #A3A3A3 !important;
    border-radius: 0px !important;
}
.editBtn
{  
	color: #000 !important;
}
.trHeader td
{
/*	background: rgba(27,82,138,1);
background: -moz-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,82,138,1)), color-stop(100%, rgba(32,60,88,1)));
background: -webkit-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -o-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -ms-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: linear-gradient(to bottom, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b528a', endColorstr='#203c58', GradientType=0 );*/
background: linear-gradient(to bottom, #189fba 0%,#1a758c 100%);
color:#fff !important;
border-radius:0px !important;
text-align:center;
}		
#meetingDiv h5
			{
			    border: 2px solid #A3A8C1 !important;
			    width: 480px !important;
			    height: 44px !important;
			    padding: 0px !important;
			    padding-top: 7px !important;
			    border-radius: 3px !important;
			    font-weight: normal;
			}
			#meetingDiv span
			{
			    border: 2px solid #A3A8C1 !important;
			    height: 44px !important;
			    padding: 5px !important;
			    border-radius: 3px !important;
			    float: left !important;
			    margin-top: -9px !important;
			    width: 161px !important;
			    padding-top: 12px !important;
			    font-weight: normal;
			}
			#meetingDiv select
			{
				float:left !important;
			    height: 27px !important;
			    margin-top: 0px !important;
			    margin-left: 21px !important;
			    font-weight: normal;

			}
			#meetingDiv input[type="text"] {
				padding: 0px !important;
			    height: 28px !important;
			    margin-top: 0px !important;
/*			    margin-left: 17px !important;*/
			    font-weight: normal;
/*			    width: 88% !important;*/
			}
			#meetingDiv img
			{
				float:right !important;
			}
			#meetingDiv i
			{
				float:left !important;
			}

			
			#formDiv h5
			{
			    border: 2px solid #A3A8C1;
			    height: 70px;
			    padding: 5px;
			    /*border-left: 3px solid #A3A8C1;*/
			    text-align:left;
			    margin-left:2px;
			    font-weight: normal;
			    font-size: 0.98em;
			    
			}
			#formDiv h4
			{
			    /*border: 2px solid #A3A8C1;
			    height: 35px;
			    padding: 5px;
			    border-left: 3px solid #A3A8C1;
			    
			    font-weight: bold;
			    background-color:#949286;*/
			    text-align:center;
			}

			#formDiv input[type="text"] 
			{
			    margin-top: -6px;
			    /*border-left: 3px solid #A3A8C1;
			    border-right: 3px solid #A3A8C1;*/
			    /*margin-left: 18px;*/
			    height: 31px;
			    font-weight: normal;
			    width: 87%;


			    
			}
			#formDiv input[type="textarea"] 
			{
			   /* margin-top: -6px;*/
			    /*border-left: 3px solid #A3A8C1;
			    border-right: 3px solid #A3A8C1;
			    margin-left: 18px;
			    height: auto;
			    font-weight: normal;
			    width: auto;
          overflow:auto;*/
			    
			}
			#formDiv select
			{
			    margin-top: -6px;
			    /*border-left: 3px solid #A3A8C1;
			    border-right: 3px solid #A3A8C1;*/
			    margin-left: 6px;
			    height: 31px;
			    font-weight: normal;
			    
			}
			#formDiv img
			{
			    margin-left:2px;
			    
			}
      #title_td{
        text-align:right;
      }
.navbar-default
{
	/*background-color:#007CC3!important;*/
	color:#fff !important;
	font-weight: normal;
	height:80px !important;
	width:100% !important;
	border:0px !important;
	border-radius:0px !important;
/*background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(49,109,171,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(49,109,171,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(49,109,171,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(49,109,171,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(49,109,171,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(49,109,171,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#316dab', GradientType=0 );*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#535c6f+0,394e63+100 */
background: #535c6f; /* Old browsers */
background: -moz-linear-gradient(top,  #535c6f 0%, #394e63 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #535c6f 0%,#394e63 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #535c6f 0%,#394e63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535c6f', endColorstr='#394e63',GradientType=0 ); /* IE6-9 */




}
.navbar-header
{
	margin-top:3px !important;
  width:245px;
}
.navbar-default a
{

	color:#fff !important;
	font-weight: normal !important;
	transition: all .2s ease-in-out;
}	
.navbar-default img
{
    height: 45px;
    width: 134px;
    margin-top: -21px;

}
#titleBar
{
/*    background-color: #982222;*/
    height: 38px;
    text-align: center;
    padding: 1px;
    margin-top: -20px;
    color: #fff;
    font-weight: bold;
    font-size:18px;
/*background: rgba(27,82,138,1);
background: -moz-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,82,138,1)), color-stop(100%, rgba(32,60,88,1)));
background: -webkit-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -o-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -ms-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: linear-gradient(to bottom, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b528a', endColorstr='#203c58', GradientType=0 );
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#537585+0,2c435e+100 */
/*background: #537585;  Old browsers */
/*background: -moz-linear-gradient(top,  #537585 0%, #2c435e 100%); 
background: -webkit-linear-gradient(top,  #537585 0%,#2c435e 100%);
background: linear-gradient(to bottom,  #537585 0%,#2c435e 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#537585', endColorstr='#2c435e',GradientType=0 ); */


background: #3C4858; 
    border-top:1px solid #878888;


}
#titleBar h4{
  font-size:17px;
  margin-top:6px;
}
.footDiv
{

/*
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  background-color: #f5f5f5;*/



    margin: 0 auto;

    height: 48px;
    width:100%;
    text-align: center;
    padding: 0 px;
  
    min-width:100% !important;
    margin-top:20px;
    /*margin-top: 20px;*/
    padding-top:5px;

    color: #fff;
    background: #49566A; 
    border-bottom:1px solid #878888;
/*    background: rgba(27,82,138,1);
    background: -moz-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,82,138,1)), color-stop(100%, rgba(32,60,88,1)));
    background: -webkit-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
    background: -o-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
    background: -ms-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
    background: linear-gradient(to bottom, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b528a', endColorstr='#203c58', GradientType=0 );*/
}
#blueTableRow td
{
	height: 38px;
    text-align: center;
    padding: 1px;
    margin-top: -20px;
    color: #fff;
background: #3B4F64;
border-radius:0px;
/*background: -moz-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,82,138,1)), color-stop(100%, rgba(32,60,88,1)));
background: -webkit-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -o-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: -ms-linear-gradient(top, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
background: linear-gradient(to bottom, rgba(27,82,138,1) 0%, rgba(32,60,88,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b528a', endColorstr='#203c58', GradientType=0 );*/
}			
.navBarClass
{
	margin-top:1% !important;
}

.navbar-default a:hover
{ 
	/*transform: scale(1.2); */
}
#logoImg a:hover
{
	transform: scale(1.2);
}
#outer
{
	 position: relative;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
}

.btn {
  /*background: #bfbfbf;
  background-image: -webkit-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -moz-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -ms-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -o-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: linear-gradient(to bottom, #bfbfbf, #e6e6e6);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 12px #757575;
  -moz-box-shadow: 0px 1px 12px #757575;
  box-shadow: 0px 1px 12px #757575;
  font-family: Arial;
  color: #000000 !important;
  font-size: 12px;
  padding: 8px 15px 8px 16px;
  border: solid #878787 1px;
  text-decoration: none;
  margin:2px;*/

  background: #34749e;
  background-image: -webkit-linear-gradient(top, #34749e, #2980b9);
  background-image: -moz-linear-gradient(top, #34749e, #2980b9);
  background-image: -ms-linear-gradient(top, #34749e, #2980b9);
  background-image: -o-linear-gradient(top, #34749e, #2980b9);
  background-image: linear-gradient(to bottom, #34749e, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  /*color: #000000 !important;
  background: #a1a1a1;
  text-decoration: none;
  margin:2px;*/

  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #ffffff;
}
.btn:focus
{
	/*outline: none;*/
}

.btnArrow {
	 /*background: #bfbfbf;
  background-image: -webkit-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -moz-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -ms-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: -o-linear-gradient(top, #bfbfbf, #e6e6e6);
  background-image: linear-gradient(to bottom, #bfbfbf, #e6e6e6);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 12px #757575;
  -moz-box-shadow: 0px 1px 12px #757575;
  box-shadow: 0px 1px 12px #757575;
  font-family: Arial;
  color: #000000 !important;
  font-size: 10px;
  padding: 8px 15px 8px 16px;
  border: solid #878787 1px;
  text-decoration: none;
  margin:2px;*/
 /* background: #bfbfbf ;
  background-image: -webkit-linear-gradient(top, #bfbfbf, #e6e6e6) ;
  background-image: -moz-linear-gradient(top, #bfbfbf, #e6e6e6) ;
  background-image: -ms-linear-gradient(top, #bfbfbf, #e6e6e6) ;
  background-image: -o-linear-gradient(top, #bfbfbf, #e6e6e6 ;
  background-image: linear-gradient(to bottom, #bfbfbf, #e6e6e6) ;
  -webkit-border-radius: 15 ;
  -moz-border-radius: 15 ;
  border-radius: 15px ;
  -webkit-box-shadow: 0px 1px 12px #757575 ;
  -moz-box-shadow: 0px 1px 12px #757575 ;
  box-shadow: 0px 1px 12px #757575 ;
  font-family: Arial ;
  color: #000000  ;
  font-size: 9px ;
  padding: 5px 10px 5px 10px ;
  border: solid #878787 1px ;
  text-decoration: none ;*/



  background: #34749e;
  background-image: -webkit-linear-gradient(top, #34749e, #2980b9);
  background-image: -moz-linear-gradient(top, #34749e, #2980b9);
  background-image: -ms-linear-gradient(top, #34749e, #2980b9);
  background-image: -o-linear-gradient(top, #34749e, #2980b9);
  background-image: linear-gradient(to bottom, #34749e, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  font-family: Arial;
  color: #fff !important;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btnArrow:hover {
  /*color: #000000  ;
  background: #a1a1a1 ;
  text-decoration: none ;*/


  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #ffffff;
}
.btnArrow:focus
{
	/*outline: none ;*/
}
.inputTitle
{
	width:100% ;
}
table#buttonBox
{
	margin-top:2% ;
  background:url('../images/boxbg.jpg');
}
table#buttonBox td
{
	border: 2px solid #B3A0A0 ;
    padding: 10px;
    /*background-color: #d5d5d5 ;*/


}
table.landingTable
    {
        width: 900px;
        padding-top: 3%;
        margin-top: 4%;
        margin-left: 6%;
        font-size:15px;
        text-align: center;
    }

    table.landingTable td
    {  
        border: 1px solid #fff!important;
        /*border-radius: 5px !important;*/
        padding: 5px !important;
        background-color:#B2D6DA  ;
        font-weight:normal;
        color:#000;
    }
    
    table.landingTable tr
    {  
        border: 1px solid black ;
        /*background-color: ;*/
    }
    #test:hover
      {
        /*-moz-transition: all .51s;
        -o-transition: all .51s;
        -webkit-transition: all .51s;
        transition: all .51s;
          border-radius: 0% !important;*/
      }
    #test{
         /* background-color: rgb(211,211,211);
          background-image: repeating-linear-gradient(45deg, 
          transparent, transparent 10px, rgb(199,199,199) 0px, 
          rgb(200,200,200) 30px);*/
          border-radius:0%;
          font-size:18px !important;
          box-shadow: 0px 0px 18px #888888;
          margin-top:2%;
          border:1px solid black;
          margin-left: auto; 
          margin-right: auto;
          /*border:2px solid #fff;*/
          color:#000;
          background:url("../images/boxbg.jpg");
          font-weight:bold;
        }
     #test h5{
          text-align:center;
          font-size:18px !important;
          font-weight:bold;
          color:#000;
     }
     #testlanding:hover
      {
        -moz-transition: all .51s;
        -o-transition: all .51s;
        -webkit-transition: all .51s;
        transition: all .51s;
          border-radius: 0% !important;
      }
    #testlanding{
          background-color: rgb(211,211,211);
          background-image: repeating-linear-gradient(45deg, 
          transparent, transparent 10px, rgb(199,199,199) 0px, 
          rgb(200,200,200) 30px);
          border-radius:10%;
          font-size:18px !important;
          box-shadow: 0px 0px 18px #888888;
          margin-top:2%;
          /*border:1px solid black;*/
          margin-left: auto; 
          margin-right: auto;
          /*border:2px solid #fff;*/
          color:#000;
          background:url("../images/boxbg.jpg");
          font-weight:bold;
        }
     #testlanding h5{
          text-align:center;
          font-size:18px !important;
          font-weight:bold;
          color:#000;
     }
    /*table#rowRed tr
    {
      border: 2px solid black ;
    }
    table#rowGreen tr
    {
      border: 2px solid black ;
    }
    table#rowYellow tr
    {
      border: 2px solid black ;
    }*/
    #rowRed td
    {  
        border: 1px solid #fff!important;
        /*border-radius: 5px !important;*/
        padding: 5px !important;
        font-weight:normal;
        color:#000;
        background-color:#FBE4D5 ;
    }
    #rowAllmostGreen td
    {
      border: 2px solid #fff!important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-weight:normal;
        color:#000;
      background-color:#E7EAB4;
    }
    #rowGreen td
    {
      border: 2px solid #fff!important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-weight:normal;
        color:#000;
      background-color:#E2EFD9;
    }
    #rowYellow td
    {
      border: 2px solid #fff!important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-weight:normal;
        color:#000;
      background-color:#FFF2CC;
    }
#organizerHeader td
{
	text-align:center;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}